<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <title>ZUNrev</title>
    {{style('css/app.css'+config('app.version'),true)}}
</head>
<body>
  @if(user)
  <script>window.utkn = '{{ user.token }}';
    window.urtkn = '{{ user.refreshToken }}';
    window.ug ={{ toJSON(user.grants) }};
    window.uid ={{ user.userid }}</script>
  @endif
<div id="app"></div>
    {{ script('js/app.js'+config('app.version'), true) }}
</body>
</html>
